.tabs {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tab {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px 15px;
  font: var(--font-caption);
  border: 1px solid var(--purple-light);
  border-radius: 8px;
  cursor: pointer;
}

.active {
  background-color: var(--purple-light);
}

.count {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: var(--purple-light);
  border-radius: 16px;
}

.active .count {
  background-color: var(--white);
}
